.mb-8{
    margin-bottom: 8px;
}
.mb-28{
    margin-bottom: 28px;
}
.mr-16{
    margin-right: 16px;
}
.py-20{
    padding: 0 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mr-8{
    margin-right: 8px;
}
.ml-16{
    margin-left: 16px;
}