$robotoregular: 'robotoregular', sans-serif;

$primary: #ffffff;
$secondary: #6F7D94;
$active: #248BF2;
$error: #dd3434;
$danger: #F23051;

$body-bg: #F1F7FF;
$body-text: #081D3F;
$auth-avatar-bg: #EFF6FF;
$border: #6F7D944D;
$label: #555A62;
$field-bg: #EFF6FF;
$placeholder: #6F7D94B2;
$text-md: #2F466D;
$cross-bg: #C5D7FF;
$gray: #F2F3F5;
$badge-gray: #C8C9CC;
$text-green: #40B855;
$text-date: #9D9FA3;
$text-gray: #71747A;
$light-gray: #9D9FA3;
$modal-footer-bg: #F2F3F5;
$form-bg: #C9CCD13D;

