.button{
    border: none;
    background-color: $primary;
    cursor: pointer;
    margin-right: 28px;
    &:last-child{
        margin-right: 0;
    }
    [dir=rtl] &{
        margin-right: inherit;
        margin-left: 28px;
        &:last-child{
            margin-left: 0;
        }
    }
    .modal-footer &{
        background: $active;
        color: $primary;
        padding: 8px 24px;
        border-radius: 8px;
    }
}
.button-primary{
    background: $active;
    max-width: 240px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-bottom: 28px;
    color: $primary;
    transition: ease-in-out 0.2s;
    &:hover{
        transform: scale(1.05);
    }
}