.content-card{
    display: flex;
    margin-bottom: 16px;
    &:last-child{
        margin-bottom: 0;
    }
}
.content-media{
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
    margin-right: 16px;
    [dir=rtl] &{
        margin-right: inherit;
        margin-left: 16px;
    }
}
.content-text{
    display: flex;
    flex-direction: column;
}